body {
    background-color: seashell;
    display: flex;
    justify-content: center;
    gap: clamp(5px, 100vw, 10vw);
}

#sideBar {
    background-color: lightgoldenrodyellow;
    max-width: 30vw;
}

#content {
    max-width: 70vw;
    background-color: lightcyan;
}

.pastaProjeto {
    border: 2px solid black;
}